<?xml version="1.0"?>
<!--
/**
 * Magento 2 extension for Cashew Payments
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="cashewpayments" frontName="cashewpayments">
            <module name="CashewPayments"/>
        </route>
    </router>
</config>
