<?xml version="1.0"?>
<!--
/**
 * Magento 2 extension for Cashew Payments
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cashewpayment" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cashew Payments</label>
                <attribute type="expanded">0</attribute>
                <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="store_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Store Url</label>
                </field>
                <field id="environment_mode" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Environment</label>
                    <source_model>DotCommerce\CashewPayments\Model\Source\Mode</source_model>
                    <config_path>payment/cashewpayments/environment_mode</config_path>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Minimum Order Total</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1">
                    <label>Maximum Order Total</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>DotCommerce\CashewPayments\Model\Source\PaymentAction</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
